.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 85px;
  flex-direction: column;
  background: black;
}

.hero h1 {
  font-size: 48px;
  color: whitesmoke;
  font-weight: bold;
}

.hero p {
  margin-top: 20px;
  font-size: 24px;
  color: whitesmoke;
}

.bold {
  font-weight: bold;
  color: #19748b;
}

.hero__button {
  border-radius: 50px;
  margin-top: 50px;
  padding: 15px 30px;
  cursor: pointer;
  background: linear-gradient(to right, #19748b, #E6DADA);
  border: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s ease;
}

.hero__button:hover {
  background: #19748b;
  color: whitesmoke;
}

@media (max-width: 600px) {
  .hero {
    padding: 50px;
  }

  .hero h1 {
    font-size: 36px;
  }

  .hero p {
    font-size: 24px;
  }

  .hero__button {
    margin-top: 30px;
    padding: 15px 30px;
  }
}
