

.card-container {
  justify-content: center;
  padding: 14px 0;
  width: 100%;
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: black;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.card_title{
  font-size: 30px;
  margin: 10px;

}
.card_description{
  font-size: 25px;
}

.projet {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 14px;
  width: 45%;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  height: auto;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #19748b, #E6DADA);

  
  
}


.projet:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);


}

.projet img {
width: 100%;
object-fit:cover;
height: 100%;
filter: grayscale(1);

}
.projet img:hover{
  filter: grayscale(0);
}



p {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  color: #777; 
}

.lien-projet {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  /* position: absolute;
  bottom: 2px;
  left: 35%; */
}

.lien-projet:hover {
  background-color: #0056b3;
}
@media (max-width:768px){
  .projet{
    width: 100%;
    margin: 0 5px;
  }
}