
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #3498db; 
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.nav-links li {
  margin-right: 20px;
  transition: transform 0.3s ease; 
}

.nav-links li:hover {
  transform: scale(1.1);
 }

.nav-links li a {
  text-decoration: none;
  color: #fff; 
  text-transform: uppercase;
  font-weight: bold;
}

.letter {
  color: #ff1493;
  font-size: 25px;
}

.logo {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.burger {
  font-size: 25px;
}

.burger {
  display: none;
}


@media (max-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin-right: 30px;
  }

  .burger {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    background-color: #3498db;
    gap: 15px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 20px 10px;
  }

  .container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
}
