/* Styles de base pour les écrans de toutes tailles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  box-shadow: 0 30px 30px -20px rgba(50, 50, 93, 0.23);
  margin-bottom: 30px;
  background-color: #ffffff;
  position: sticky; /* Ajout de la propriété sticky */
  top: 0; /* Fixer la barre de navigation en haut de la page */
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  transition: color 0.3s ease;
  font-weight: bold;
}

.letter {
  color: #FF1493;
  font-size: 25px;
}

.logo {
  color: #000;
  font-size: 30px;
  font-weight: bold;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Media Query à partir de 600px */
@media (min-width: 600px) {
  .nav-links {
      flex-direction: row;
  }

  .nav-links li {
      margin-right: 30px;
  }
}
