/* styles.css */

.footer {
  position: relative;
    background-color: black; 
    color: #fff; 
    padding: 40px 0; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
  

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 1200px; 
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-contact,
  .footer-social {
    flex: 1;
    margin: 0 20px; 
  }
  
  .footer h3 {
    font-size: 20px; 
    margin-bottom: 15px; 
  }
  
  .footer a {
    color: #fff; 
    text-decoration: none;
    transition: color 0.3s ease; 
  }
  
  .footer a:hover {
    color: #19748b; 
  }
  

  .footer-social ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-social li {
    margin-bottom: 10px;
  }
  
  
  .footer-social a {
    font-size: 18px; 
    display: inline-block;
    margin-right: 10px; 
  }
  .arrow{
    position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 30px;
  height: 30px;
  padding: 4px;
  font-size: 20px;
  border-radius: 3px;
  background: #333;
  color: #ffffff;
  transition: transform 0.3s;
  }
  .arrow:hover {
    cursor: pointer;
    transform: scale(1.15);
  }
  
  

  .footer-contact p:last-child {
    margin-bottom: 0;
  }
  @media (max-width: 767px){
     .footer-content{
        text-align: center;
        gap: 50px;

    }
  }